@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right ,#041308 ,#0b3317);
    
}
.left-text{
    flex-basis: 30%;  /* it is using 30% width of the container */
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.subheading{
    color: rgb(245, 230, 230);
    margin-top: 10px;
    text-align: center;
}
.gallary{
    flex-basis: 50%;  /* it is using 50% width of the container */
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;   /* it is used to cover all the part of the images */
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;             /* it is used to multiply background color with backgroung images*/
    background-blend-mode: hard-light;
    transition: all 3s ease-in-out;
    font-size: 30px;
}
.box:hover{
    background-color: #999;
    background-position: bottom;
    box-shadow: 0 0 4px white;
    cursor: pointer;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}


/* media queries */

@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }
    .gallary{
        width: 100%;
        grid-auto-rows: 200px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
    .left-text{
        padding: 15px 0;
    }
    
}

